<div id="contact" class="container">
  <div class="grid grid-cols-12 gap-4  py-10">
    <div class="col-span-12 lg:col-span-5">
      <div class="flex flex-col items-start gap-4">
        <span class=" text-base text-primary-100  font-normal">{{ 'contactUs.badge' | translate }}</span>
        <p class="text-[#1C1B21] text-4xl leading-10 font-medium">{{ 'contactUs.title' | translate }}</p>
      </div>
      <div class="flex items-center gap-4 mt-6">
        <img src="assets/icons/linkedin-solid.svg" alt="contact">
        <img src="assets/icons/facebook.soild.svg" alt="contact">
        <img src="assets/icons/twitter-soild.svg" alt="contact">
      </div>
    </div>
    <div class="col-span-12 lg:col-span-7">
      <form class="example-form bg-natural-100 p-6 grid grid-cols-12 items-center gap-4  ">
        <div class="col-span-12">
          <span class="text-[#1C1B21] text-xl leading-9 font-medium">{{ 'contactUs.form.title' | translate }}</span>
        </div>
        <div class="flex flex-col gap-8 col-span-12 lg:col-span-6">
          <label class="text-[#939EA2] text-sm font-medium">{{ 'contactUs.form.name.label' | translate }}</label>
          <mat-form-field class="example-full-width input-form">
            <input matInput [placeholder]="('contactUs.form.name.placeholder' | translate)">
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-8 col-span-12 lg:col-span-6">
          <label class="text-[#939EA2] text-sm font-medium">{{ 'contactUs.form.email.label' | translate }}</label>
          <mat-form-field class="example-full-width input-form">
            <input matInput [placeholder]="('contactUs.form.email.placeholder' | translate)">
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-8 col-span-12 my-6 ">
          <label class="text-[#939EA2] text-sm font-medium">{{ 'contactUs.form.message.label' | translate }}</label>
          <mat-form-field class="example-full-width input-form-textarea">
            <textarea matInput [placeholder]="('contactUs.form.message.placeholder' | translate)"></textarea>
          </mat-form-field>

        </div>
        <div class="col-span-12 lg:col-span-2">
          <button
            class="bg-primary-500 text-white p-4 w-full transition-colors duration-700 hover:bg-[red] ">{{ 'contactUs.form.submit' | translate }}</button>
        </div>
      </form>
    </div>
  </div>

</div>
