<div id="contact" class="container">
  <div class="grid grid-cols-12 gap-4  py-10">
    <div class="col-span-12 lg:col-span-5">
      <div class="flex flex-col items-start gap-4">
        <span class=" text-base text-primary-100  font-normal">contact us</span>
        <p class="text-[#1C1B21] text-4xl leading-10 font-medium">let's work together</p>
      </div>
      <div class="flex items-center gap-4 mt-6">
        <img src="assets/icons/linkedin-solid.svg" alt="contact">
        <img src="assets/icons/facebook.soild.svg" alt="contact">
        <img src="assets/icons/twitter-soild.svg" alt="contact">
      </div>
    </div>
    <div class="col-span-12 lg:col-span-7">
      <form class="example-form bg-natural-100 p-6 grid grid-cols-12 items-center gap-4  ">
        <div class="col-span-12">
          <span class="text-[#1C1B21] text-xl leading-9 font-medium">Fill out this form</span>
        </div>
        <div class="flex flex-col gap-8 col-span-12 lg:col-span-6">
          <label class="text-[#939EA2] text-sm font-medium">Your Name</label>
          <mat-form-field class="example-full-width input-form">
            <input matInput placeholder="Enter your name">
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-8 col-span-12 lg:col-span-6">
          <label class="text-[#939EA2] text-sm font-medium">Your email</label>
          <mat-form-field class="example-full-width input-form">
            <input matInput placeholder="Enter your email">
          </mat-form-field>
        </div>
        <div class="flex flex-col gap-8 col-span-12 my-6 ">
          <label class="text-[#939EA2] text-sm font-medium">Your message</label>
          <mat-form-field class="example-full-width input-form-textarea">
            <textarea matInput placeholder="Enter your message"></textarea>
          </mat-form-field>

        </div>
        <div class="col-span-12 lg:col-span-2">
          <button
            class="bg-primary-500 text-white p-4 w-full transition-colors duration-700 hover:bg-[red] ">Send</button>
        </div>
      </form>
    </div>
  </div>

</div>
