<div class="container ">
  <div class="grid grid-cols-12 gap-4 lg:py-10 py-4">
    <div class="col-span-12 mb-8">
      <div class="flex flex-col gap-4">
        <span class="md:text-4xl text-2xl font-medium text-extended-black">{{ 'investmentFocus.title' | translate }}</span>
        <p class="text-extended-grey text-base font-normal">
          {{ 'investmentFocus.subtitle' | translate }}
        </p>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-7">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 lg:gap-4">
        @for (area of focusAreas; track area.id) {
          <div (mouseenter)="selectArea(area)" class="p-4 lg:p-5 border border-natural-1000 cursor-pointer bg-white flex flex-col items-start gap-4 justify-center text-center min-h-[100px] lg:min-h-[120px]
                     hover:bg-primary hover:text-white group transition-colors duration-1000"
               [ngClass]="{ 'bg-primary text-white': selectedArea?.id === area.id }">
            <img [src]="area.icon || 'assets/icons/FinTech-icon.svg'" [attr.alt]="area.alt"
              class="w-8 h-8 lg:w-10 lg:h-10 mb-3 transition-colors duration-1000 group-hover:filter group-hover:invert group-hover:brightness-0 group-hover:contrast-200"
            >
            <span
              class="text-primary-100 text-xs lg:text-base font-light transition-colors duration-1000 group-hover:text-white"
              [ngClass]="{ 'text-white': selectedArea?.id === area.id }">{{ area.labelKey | translate }}</span>
          </div>
        }
      </div>
    </div>
    <div class="col-span-12 lg:col-span-5">
      <div class="w-full h-full">
        <img class="w-full h-full object-cover" [src]="selectedArea?.imageUrl || 'assets/images/focus-image.png'"
          [attr.alt]="selectedArea ? selectedArea.alt : ('investmentFocus.imageAlt' | translate)">
      </div>

    </div>
  </div>

  <div class="grid grid-cols-12 gap-4 lg:py-10 ">
    <div class="col-span-12">
      <div class="preview-grid">
        <app-investment-focus-preview-item-card />
      </div>
    </div>
    <div class="focus-cards col-span-12 lg:col-span-4 ">
      <app-investment-focus-item-card [title]="('investmentFocus.cards.earlyStage' | translate)" />
    </div>
    <div class="focus-cards col-span-12 lg:col-span-4 ">
      <app-investment-focus-item-card [title]="('investmentFocus.cards.techAndDigital' | translate)" />
    </div>
    <div class="focus-cards col-span-12 lg:col-span-4 ">
      <app-investment-focus-item-card [title]="('investmentFocus.cards.regionalGlobal' | translate)" />
    </div>
  </div>
</div>
