<div id="about" class="container lg:py-10 py-4">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-7 self-center">
      <p class="md:text-2xl text-sm font-medium text-primary-100 break-words pe-0 lg:pe-40 tracking-wide">
        tali ventures complements stc group's efforts as an engine of growth and invest in startups across various
        fields
        of technologies that align with stc group's innovation agenda.
      </p>
    </div>
    <div class="col-span-12 lg:col-span-5">
      <img class="w-full object-cover" src="assets/images/icons/img-ventures.png" alt="">
    </div>


  </div>

</div>
