::ng-deep .input-form {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    display: none !important;
  }

  .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align::before {
    display: none !important;
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }

  .mat-mdc-form-field.mat-form-field-animations-enabled .mdc-line-ripple::after {
    display: none !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    display: none !important;
  }

  .mdc-text-field--filled .mdc-line-ripple::after {
    display: none !important;
  }

  .mdc-line-ripple {
    display: none !important;
  }

  .mat-mdc-input-element .mat-mdc-form-field-input-control .mdc-text-field__input {
    color: #939EA2 !important;
  }

  .mat-mdc-input-element .mat-mdc-form-field-input-control .mdc-text-field__input::placeholder {
    color: #939EA2 !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #8e9aa02a !important;
  }

  .mat-mdc-text-field-wrapper {
    border-radius: 0px !important;
  }


}

::ng-deep .input-form-textarea {

  .mdc-line-ripple,
  .mat-mdc-form-field-focus-overlay {
    display: none !important;
  }

  textarea.mat-mdc-input-element {
    background: transparent !important;
    padding: 0rem !important;
    resize: none !important;
    outline: none !important;
    min-height: 150px !important;
    height: 150px !important;
    font-family: inherit !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #8e9aa02a !important;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
    border-radius: 0px !important;
  }

  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none !important;
  }
}
