<section id="team" class="container py-10">
  <div class="board-members-content">
    <!-- Header Section -->
    <div class="flex justify-between items-center mb-4">
      <div class="flex flex-col gap-4">
        <span class="md:text-4xl text-2xl font-medium text-extended-black">board members</span>
        <p class="text-extended-grey text-base font-normal">Lorem ipsum dolor sit amet consectetur. Semper nisi sodales
          sapien diam ornare pretium.</p>
      </div>
      <!-- <a class="text-primary-100 text-sm font-medium" href="#">
          Display All
        </a> -->
    </div>

    <!-- Members Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      <app-member-card />
      <app-member-card />
      <app-member-card />
      <app-member-card />
      <app-member-card />
    </div>
  </div>
</section>
