<footer class="bg-primary-200 text-white py-12 mt-8">
  <div class="container">
    <!-- Navigation Links Section -->
    <div class="grid grid-cols-3 gap-4 lg:gap-20 mb-8 max-w-md">
      <!-- Column 1 -->
      <div class="space-y-4">
        <a href="#" class="block text-white text-base hover:text-gray-300 transition-colors mb-8">{{ 'header.nav.home' | translate }}</a>
        <a href="#" class="block text-white text-base hover:text-gray-300 transition-colors">{{ 'header.nav.about' | translate }}</a>
      </div>

      <!-- Column 2 -->
      <div class="space-y-4">
        <a href="#" class="block text-white text-base hover:text-gray-300 transition-colors mb-8">{{ 'header.nav.portfolio' | translate }}</a>
        <a href="#" class="block text-white text-base hover:text-gray-300 transition-colors">{{ 'header.nav.team' | translate }}</a>
      </div>

      <!-- Column 3 -->
      <div class="space-y-4">
        <a href="#" class="block text-white text-base hover:text-gray-300 transition-colors mb-8">{{ 'header.nav.news' | translate }}</a>
        <a href="#" class="block text-white text-base hover:text-gray-300 transition-colors">{{ 'header.nav.contact' | translate }}</a>
      </div>
    </div>

    <!-- Separator Line -->
    <div class="border-t border-[#5D099E] mb-8"></div>

    <!-- Branding and Social Media Section -->
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-4 md:space-y-0">
      <!-- Left Side - Branding -->
      <div class="flex items-center space-x-3">
        <!-- Company Name -->
        <img src="assets/images/footer/tali-footer.svg" alt="logo-footer">
      </div>

      <!-- Right Side - Copyright and Social Media -->
      <div class="flex flex-col md:flex-row items-start md:items-center space-y-3 md:space-y-0 md:space-x-6">
        <!-- Copyright -->
        <span class="text-white text-sm">{{ 'footer.copy' | translate:{ year: currentYear } }}</span>

        <!-- Social Media Icons -->
        <div class="flex space-x-3">
          <!-- Facebook -->
          <a href="#"
            class="w-8 h-8 bg-white rounded-full flex items-center justify-center border border-purple-900 hover:bg-gray-100 transition-colors">
            <img src="assets/images/footer/facebook-footer.svg" alt="facebook-footer">
          </a>

          <!-- Medium -->
          <a href="#"
            class="w-8 h-8 bg-white rounded-full flex items-center justify-center border border-purple-900 hover:bg-gray-100 transition-colors">
            <img src="assets/images/footer/m-footer.svg" alt="m-footer">

          </a>

          <!-- X (Twitter) -->
          <a href="#"
            class="w-8 h-8 bg-white rounded-full flex items-center justify-center border border-purple-900 hover:bg-gray-100 transition-colors">
            <img src="assets/images/footer/x-footer.svg" alt="x-footer">

          </a>

          <!-- YouTube -->
          <a href="#"
            class="w-8 h-8 bg-white rounded-full flex items-center justify-center border border-purple-900 hover:bg-gray-100 transition-colors">
            <img src="assets/images/footer/youtube-footer.svg" alt="youtube-footer">

          </a>
          <!-- LinkedIn -->
          <a href="#"
            class="w-8 h-8 bg-white rounded-full flex items-center justify-center border border-purple-900 hover:bg-gray-100 transition-colors">
            <img src="assets/images/footer/linkedin-footer.svg" alt="linkedin-footer">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
