@import 'variables';
@import 'mixins';

lib-muk-nav-tabs {
  .mat-mdc-tab-link-container {
    .mat-mdc-tab-list {
      .mat-mdc-tab-links {
        @include flex-auto;
        gap: $font-size-base;
        border-bottom: 1px solid $gray-line-separator;
        margin-bottom: $font-size-2xl;

        .mdc-tab--active {
          border-bottom: 2px solid $color-primary;
        }

        .tabs__border {
          li {
            .mat-mdc-tab-ripple {
              background: transparent;
              border-left: 0 !important;
              border-radius: 0 !important;
              padding: $font-size-base;
            }
          }
        }
      }
    }
  }
}

.score-tab {
  .mat-mdc-tab-list {
    background-color: $white3 !important;
    padding: $spacing-xs !important;
    border-radius: 56px;
    margin: 0 $spacing-xl;
  }

  .mat-mdc-tab-label-container {
    border-bottom: none !important;
    border-width: 0 !important;
  }

  .mat-mdc-tab {
    @include flex-center;
    padding: $spacing-md $spacing-sm !important;
    border-radius: 56px;
    @include transition(all, 0.3s);

    &.mdc-tab--active {
      background: $white;
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);

      .mdc-tab__text-label {
        @include text-style($font-size-base, $font-normal, $text-dark, $line-height-base);
      }
    }

    .mat-mdc-tab-ripple,
    .mdc-tab__ripple {
      display: none !important;
    }

    .mdc-tab__text-label {
      @include text-style($font-size-base, $font-normal, $dark-gray, $line-height-base);
    }

    .mdc-tab-indicator {
      width: 0 !important;
      height: 0 !important;
    }
  }
}