<div
  class="bg-white border border-natural-1000 shadow-sm hover:shadow-lg transition-shadow duration-200 flex flex-col gap-7 p-5">
  <img class="w-44 h-20 object-contain" [src]="item.imageUrl || 'assets/images/portfolio-image.png'" [alt]="item.title">
  <div class="flex flex-col gap-8">
    <div class="flex items-center gap-2">
      <span class="text-2xl font-medium text-extended-black">{{ item.title }}</span>
      <span class="text-gray-600 bg-[#f3f3f333] border border-natural-1000 py-2 px-4">{{ item.sector }}</span>
    </div>
    <span class="text-sm font-normal text-extended-grey line-clamp-4">{{ item.description }}</span>
  </div>
  <div class="flex items-center">
    <button href="#"
      class="border border-natural-1000 flex items-center gap-2 p-2 text-sm text-primary-100 font-medium">
      <img src="assets/images/icons/website-icon.svg" alt="">
      Website</button>
  </div>
</div>
