.item-card {
  border: 1px solid var(--Gray, #F3F3F3);
  background: rgba(243, 243, 243, 0.20);
}

.Graphiant {
  object-fit: contain;
}

.Jalebi {
  object-fit: cover;
}

.COGNNA {
  object-fit: cover;
}

.Northladder {
  object-fit: cover;
}

.Shaffra {
  object-fit: cover;
}

.Ertikaz {
  object-fit: cover;
}