.item-card {
  border: 1px solid var(--Gray, #F3F3F3);
  background: rgba(243, 243, 243, 0.20);
}

.image-container {
  position: relative !important;
  width: 176px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
