<div class="border border-natural-1000">
  <div class="w-full h-[500px] overflow-hidden">
    <img class="w-full h-full object-cover transition-transform duration-1000 ease-out hover:scale-[1.01]"
      src="assets/images/news/news-1.jpg" alt="news-1">
  </div>
  <div class="p-4 transition-colors duration-700 ease-out hover:bg-primary-100/5">
    <div class="text-2xl font-medium mb-2 transition-all duration-700 ease-out transform-gpu hover:scale-[1.01]">News
      Name 1</div>
    <div class="lg:text-base text-sm text-grey-200 mb-2">
      Providing network independence through a very simple system; It was designed from the beginning to take care of
      itself, prevent threats, and improve productivity and convenience for customers.
    </div>

    <div class="flex items-center justify-between w-full">
      <div class="text-sm lg:text-base font-medium text-grey-200 group-hover:text-white transition-colors duration-300">
        1 Feb, 2020
      </div>
      <!-- <div class="flex items-center gap-2  duration-300">
          <span class="text-primary-100 text-sm font-medium"> View News</span>
          <img src="assets/icons/arrow-right.svg" alt="arrow-right">
        </div> -->
    </div>
  </div>
</div>