lib-muk-dynamic-buttons {
  lib-muk-list-looping>div {
    display: flex;
    align-items: center;
    gap: $gap-default;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 8px;
    }
  }

  lib-muk-list-looping {
    div {
      lib-muk-button {
        width: $percent-100;

        .btn {
          @include button-base;
          width: $percent-100;
          justify-content: center !important;

          &--primary {
            @include btn-styles($primary-color, $white);
          }

          &--primary-transparent {
            @include btn-styles($white, $primary-color);
          }

          &--add-user {
            .mdc-button__label {
              @include flex-auto;

              mat-icon {
                display: none !important;
              }

              @include icon-before("../icons/btns/add-user-icon-btn.svg"
              );
            }
          }

          &--user-permission {
            .mdc-button__label {
              @include flex-auto;
              gap: 4px;

              mat-icon {
                display: none !important;
              }

              @include icon-before("../icons/btns/user-permission-icon-btn.svg"
              );
            }
          }

          &--light {
            @include btn-styles($white, $text-dark);
          }

          &--approve {
            @include btn-styles($status-bg-success, $status-success);
          }

          &--reject {
            @include btn-styles(#f8e4e8, $primary-color);
          }

          &--dark-gray {
            @include btn-styles($dark-gray, $white);
          }

          &--light-gray {
            @include btn-styles($light-gray, $text-dark);
          }
        }
      }
    }
  }
}

.sticky-btn {
  lib-muk-dynamic-buttons {
    lib-muk-list-looping>div {
      @include flex-auto;
      gap: $gap-default;
    }

    lib-muk-list-looping {
      lib-muk-button {
        .btn {
          @include button-base;

          &--primary {
            @include btn-styles($primary-color, $white);
          }

          &--add-user-transparent {
            .mdc-button__label {
              @include flex-auto;

              mat-icon {
                display: none !important;
              }

              @include icon-before("../icons/btns/plus-icon-primary.svg"
              );
            }
          }
        }
      }
    }
  }
}

.btn {
  @include button-base;
  width: $percent-100;

  &--primary {
    @include btn-styles($primary-color, $white);
  }

  &--primary-transparent {
    @include btn-styles(transparent, $primary-color);
  }

  &--add-user {
    .mdc-button__label {
      @include flex-auto;

      mat-icon {
        display: none !important;
      }

      @include icon-before("../icons/btns/add-user-icon-btn.svg");
    }
  }

  &--user-permission {
    .mdc-button__label {
      @include flex-auto;
      gap: 4px;

      mat-icon {
        display: none !important;
      }

      @include icon-before("../../assets/icons/btns/user-permission-icon-btn.svg"
      );
    }
  }

  &--light {
    @include btn-styles($white, $text-dark);
  }

  &--dark-gray {
    @include btn-styles($dark-gray, $white);
  }

  &--light-gray {
    @include btn-styles($light-gray, $text-dark);
  }
}

.btn--add-user {
  margin: 0 !important;
  height: auto !important;
}
