// Start Scroll dialog
.modal-container {
  ::-webkit-scrollbar {
    display: block !important;
  }
}
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
// End Scroll dialog

// Start Sidebar Layout

.app-layout {
  .home {
    position: absolute;
    top: 0;
    left: 214px;
    height: 100vh;
    width: calc(100% - 214px);
    background-color: #f8f8f8;
  }

  &.sidebar-closed .home {
    left: 98px;
    width: calc(100% - 98px);
  }
  // Mobile responsiveness
  @media (max-width: 768px) {
    .home {
      left: 0px !important;
      width: $percent-100 !important;
    }
  }
}
.sidebar-closed {
  .sidebar__menu-links {
    margin: 1rem auto;
  }
}
// End Sidebar Layout

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.truncate-responsive {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 768px) {
    width: $percent-100;
  }
}

.truncate-width {
  @extend .truncate-responsive;
  width: 100px;
}
.stc-status {
  width: auto;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}

// Status mixin
@mixin stc-statues($color, $bg) {
  color: $color;
  background: $bg;
}

.status-success,
.status-submitted,
.status-active,
.status-completed {
  @include stc-statues(#00b341, rgba(0, 179, 65, 0.1));
}


.status-asked_for_evidence {
  @include stc-statues(#ff6a39, rgba(255, 106, 57, 0.1));
}

.status-pending,
.status-overdue,
.status-rejected {
  @include stc-statues(#ff375e, rgba(255, 55, 94, 0.15));
}

.status-assigned {
  @include stc-statues(rgb(255, 221, 64), rgb(255, 221, 64, 0.2));
}

.status-submitted {
  @include stc-statues(#7711c6, rgb(119, 17, 198 , 0.1));
}

.status-draft,
.status-inactive {
  @include stc-statues(#8e9aa0, rgba(142, 154, 160, 0.1));
}
.btn-submit-light {
  border-radius: 6px;
  border: 1.5px solid rgba(142, 154, 160, 0.5);
  color: #8e9aa0;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 8px;
  line-height: 16px; /* 145.455% */
}
