.dashboard-bg {
    height: 40px ;
    width: 40px ;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  .dashboard-bg-primary {
    @extend .dashboard-bg;
    background-color: #7711c61a;
  
  }
  .dashboard-bg-orange {
      @extend .dashboard-bg;
      background: rgba(255, 106, 57, 0.10); 
    }
  .dashboard-bg-green {
      @extend .dashboard-bg;
      background: rgba(0, 196, 140, 0.10); 
    }
  .dashboard-bg-coral {
      @extend .dashboard-bg;
      background: rgba(255, 55, 94, 0.10);
    }
  .item-text{
      position: absolute;
      color: #FFFF;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      text-transform: capitalize
  
  }