.input-gray {
    margin-bottom: 16px !important;

    lib-muk-drop-down {
        mat-label {
            color: $text-dark !important;
            font-size: 15px !important;
            font-weight: $font-normal !important;
            margin-bottom: 8px !important;
            display: block;
        }

        mat-form-field {
            .mat-mdc-text-field-wrapper {
                border-radius: 8px !important;
                border: 1px solid $white2 !important;
                background: $white3 !important;
                max-height: 56px !important;
            }

            .mat-mdc-select-arrow-wrapper {
                .mat-mdc-select-arrow svg {
                    display: none;
                }

                &::after {
                    display: inline-block;
                    content: url('../icons/arrow-bottom-dropdown.svg');
                    width: $font-size-2xl;
                    height: $font-size-2xl;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }

            .mat-mdc-form-field-subscript-wrapper {
                display: none !important;
            }


            .mat-mdc-form-field-flex {
                .mat-mdc-form-field-infix {

                    .mat-form-content {
                        mat-select {
                            .mat-mdc-select-value {
                                .mat-mdc-select-placeholder {
                                    color: $dark-gray;
                                    font-size: $font-size-sm;
                                    font-style: normal;
                                    font-weight: $font-default;
                                    line-height: $font-size-xl;
                                    /* 125% */
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

lib-muk-validation-messages {
    .mat-mdc-form-field-error {
        margin-block: 4px;
        color: #ff375e;
        font-size: $font-size-sm !important;
        font-family: 'STC_Forward' !important;
    }
}
