@import 'variables';
@import 'mixins';

.notification-container {
  @include flex-start;
  border-radius: $border-radius-md;
  border: 1px solid $status-yellow;
  background: $status-yellow;
  gap: $spacing-lg;
  padding: $spacing-md;

  .notification-text {
    @include text-style($font-size-xs, $font-default, $text-dark, $line-height-xs);
  }
}