.sidebar {
  @apply fixed top-0 left-0 h-full bg-white z-[100] transition-all ease-in-out duration-300;

  width: 230px;
  padding: 0 8px;

  /* Modifier for closed state */
  &--closed {
    width: 100px;

    .sidebar__text {
      @apply hidden;
      /* Hide text in closed state */
    }

    .sidebar__menu {
      .sidebar__nav-link img {
        @apply m-auto;
        /* Center the icons */
      }
    }

    /* Media Query for Closed State */
    @media (max-width: 768px) {
      width: 0px;
      padding: 0px !important;

      .sidebar__header .sidebar__toggle {
        top: $percent-100;
        right: 0.65rem;
        transform: none;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  /* Sidebar Header */
  &__header {
    @apply relative flex justify-between items-center px-4 pt-4;

    .sidebar__toggle {
      @apply cursor-pointer absolute;
      top: $percent-50;
      right: -1.25rem;
      transform: translateY(-$percent-50);
      transition: all 0.3s ease-in-out;

      /* Media Query for Open State */
      @media (max-width: 768px) {
        top: $percent-50;
        right: -1.25rem;
        transform: translateY(-$percent-50);
      }
    }
  }

  /* Sidebar Menu */
  &__menu-bar {
    @apply flex flex-col justify-between overflow-y-scroll h-[calc($percent-100-55px)];

    &::-webkit-scrollbar {
      @apply hidden;
      /* Hide scrollbar */
    }
  }

  /* Sidebar Links */
  &__menu-links {
    @apply mt-4;

    .sidebar__nav-link {
      @apply flex items-center h-[50px] rounded-xl transition-all duration-300 cursor-pointer mb-4;

      a {
        @apply flex items-center w-full h-full rounded-md no-underline gap-2 p-4;

        .home-icon,
        .user-icon {
          transition: opacity 0.3s ease;
          /* Smooth transition */
        }

        &:hover {
          .home-icon {
            content: var(--active-icon);
          }

          .user-icon {
            content: url("../icons/navbar/user-managment-white-icon.svg");
            /* Replace with the white icon */
          }
        }
      }

      &:hover {
        @apply bg-[#7711C6] text-white;
        /* Tailwind hover styles */
      }

      /* Active State */
      &.active {
        @apply bg-[#7711C6] text-white;
        /* Same as hover styles */

        a {
          .home-icon {
            content: var(--active-icon);
          }

          .user-icon {
            content: url("../icons/navbar/user-managment-white-icon.svg");
            /* Replace with the white icon */
          }
        }
      }

      .sidebar__text {
        @apply text-sm whitespace-nowrap mt-1;
        /* Tailwind typography */
      }
    }
  }
}
